:root {
  --dark-bg-color: #1e1d2b;
  --light-bg-color: #2b2c3e;
  --lightest-bg-color: #03a9f4;
  --default-text-color: #d1d1d1;
  --default-button-color: #1177f6;
}

body {
  margin: 0;
}

.clipboard-shell {
  background-color: var(--dark-bg-color);
  color: var(--default-text-color);
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
}

.header {
  background-color: var(--lightest-bg-color);
  color: var(--dark-bg-color);
  display: flex;
  padding: 1rem 0.5rem;
}

.empty-icon-container {
  height: 100%;
  display: flex;
}

.empty-icon > img {
  margin: auto;
}

.empty-icon {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.empty-icon-text {
  margin-top: 1rem;
  text-align: center;
  font-size: small;
}

.header-title {
  font-size: medium;
}

.history {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  height: 80%;
}

.history-list {
  margin-top: 0.15rem;
  overflow-y: auto;
}

.history-title {
  display: flex;
  font-size: small;
  align-items: center;
  margin-bottom: 0.5rem;
}

.history-title > img {
  margin-right: 0.5rem;
}

.history-item {
  background-color: var(--light-bg-color);
  margin: 0.5rem 0 0;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
}

.history-item-text {
  font-size: small;
  flex: 1;
}

.history-item-actions{
  display: flex;
  flex-direction: row;
}

.copy-icon-container {
  display: flex;
  flex-direction: row;
}

.history-action-item {
  cursor: pointer;
  margin-right: 6px;
  height: 16px;
}

.history-item:first-child {
  margin-top: 0;
}
